# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js
_source/node_modules/
node_modules/
_source/dist/
dist/

# Local Env
_source/.env
_source/.env.local
_source/.env.*.local
.env
.env.local

# IDEs/Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
Thumbs.db
